/* responsive */
@media screen and (max-width: 1240px) {
	#background{
		min-width:1140px;
	}	
	
	.wrap, #container{
		width:1100px;
		margin:0 auto;
	}
}

@media screen and (max-width: 1140px) {
	#background{
		min-width:1000px;
	}	
	
	.wrap, #container{
		width:960px;
		margin:0 auto;
	}
	
	.small-column .search-input {
	    width: 215px !important;
	}
	
	.main-menu ul li{
		padding: 26px 0px 25px 5px;
	}
}

@media screen and (max-width: 1000px) {
	#background{
		min-width:760px;
	}	
	
	.wrap, #container{
		width:720px;
		margin:0 auto;
	}
	
	#header-banner{
		display:none;
	}
	
	/*  menu */

	#header .main-menu{
		display:none;
	}
	
	.toggle-menu-button{
		display:block;
	}
	
	
	
	.post-entry-bottom-left{
		float:none;
		margin-bottom:30px;
		text-align:center;
	}
	
	.post-entry-bottom-right{
		float:none;
		text-align:center;
	}
	
	

	
	.depth-2 .comment-entry{
		padding-left:0px;
	}

	.depth-3 .comment-entry{
		padding-left:0px;
	}

	.depth-4 .comment-entry{
		padding-left:0px;
	}

	.depth-5 .comment-entry{
		padding-left:0px;
	}
	
	
	
	.tab.tab-post .tab-bottom{
		padding: 20px 0px;
	}
	
	.widget-post-thumb{
		float:none;
		text-align:center;
	}
	
	.widget-post-title{
		margin-left:0px;
	}

	.widget-post-meta{
		padding-top:5px;
		margin-left:0px;
		text-align:left;
		
	}
	
	.mc4wp-form{
		padding:0px;
	}
	
	#footer-top{
		text-align:center;
	}
	
	#menu-footer-menu li:last-child{
		margin-right:0px;
	}
	
	#footer-bottom{
		position:relative;
		text-align:center;
		padding:20px 0px 80px 0px;
	}
	
	.mc4wp-form .promote-box-title{
		font-size: 26px;
		line-height: 36px;
	}
	
	.small-column .search-input {
	    width: 100% !important; 
	   display: block;
	   margin-bottom: 10px !important;
	}
	
	.small-column .widget_search input[type=submit]{
		position: relative;
	}

	.footer-under-bottom #footer-copyright{
		float: none;
		margin-bottom: 10px;
	}
	
	.footer-under-bottom #footer-menu{
		float: none;
	}
	
	.footer-callout-content{
		float: none;
		padding: 20px 0px 5px 0px;
	}
	
	.footer-callout-button{
		float: none;
		text-align: center;
		padding: 20px 0px;
	}
	
	.right {
		padding-left: 30px;
	}
}

@media screen and (max-width: 760px) {
	#background{
		min-width:460px;
	}	
	
	.wrap, #container{
		width:420px;
		margin:0 auto;
	}
	
	.admin-bar #topbar{
		top:46px;
	}
	
	
	
	/* layout */
	.big-column{
		float:none;
		width:100%;
	}
	
	.small-column{
		float:none;
		width:100%;
		padding-left:0px;
		padding-top:40px;
	}
	
	/* blog */
	
	#footer-copyright{
		float:none;
		width:100%;
		text-align:center;
		padding-bottom:5px;
	}
	
	#footer-top{
		padding-bottom:10px;
	}
	
	#footer-top ul li {
		margin-right:20px;
		margin-bottom:10px;
	}
	
	/* blog */
	
	
	
	.depth-2 .comment-entry{
		padding-left:0px;
	}

	.depth-3 .comment-entry{
		padding-left:0px;
	}

	.depth-4 .comment-entry{
		padding-left:0px;
	}

	.depth-5 .comment-entry{
		padding-left:0px;
	}
	
	/* layout */
	
	.column1_2,
	.column1_3,
	.column2_3,
	.column1_4,
	.column2_4,
	.column3_4,
	.column1_3.column-last,
	.column2_3.column-last{
		float:none;
		width:100%;
	}
	
	
	.post-relative-column,.post-relative-column.column-last{
		float:none;
		width:100%;
	}
	
	
	
	.comment-reply{
		position:relative;
	}
	
	
	p.comment-form-comment{
		padding-bottom:0px;
	}
	
	.form-submit{
		padding-bottom:20px;
	}
	
	.comment-form-left,.logged-in-as{
		float:none;
		width:100%;
		margin-right:0%;
	}
	
	.comment-form-comment,.form-submit{
		float:none;
		width:100%;
		margin-right:0%;
	}
	
	
	
	/* custom widget */
	

	/* calendar widget */
	
	
	/* subcribe form widget */
	
	
	.footer-column ,.footer-column:first-child,.footer-column.column-last{
		float:none;
		width:100%;
		padding:0px;
		border-right:0px !important;
	}
	
	#footer{
		padding-top:40px;
	}
	
	.footer-column.column-last{
		border-bottom:0px;
	}
	
	#header .wrap{
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	
	#index-box .wrap,#index-box #container{
		width: 100%;
	}
	
	#index-box .promote-box{
		width: 89%;
		margin-right: 0px;
	}
	
	.top-social{
		margin-right: 30px;
	}
	
	.post-relative-title{
		padding-bottom:20px
	}
	
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	  width: 48%;
	  float: left;
	  clear: both;
	  margin: 0 0 2.992em;
	}
	
	.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count, form.woocommerce-ordering{
		float: none !important;
	}

}	

@media screen and (max-width: 568px) {
	#index-box .promote-box{
		width: 85% !important;
	}
	
	#index-box{
		display: none;
	}
	
	.author-bio-avatar {
		float: left;
		padding-right: 20px;
	}
	
	.author-bio-details {
		margin-left: 0px;
		padding-left: 0px;
	}
	
	.promote-box {
	  padding: 27px 20px;
	  text-align: center;
	}

	#comment-form {
	  padding: 20px;
	}
	
	.woocommerce-page .related ul li{
		width: 100% !important;
		padding: 0px 10px;
	}

}

@media screen and (max-width: 540px) {
	.top-social{
		display:none;
	}
	
	.toggle-menu-button{
		right:20px;
	}

	.toggle-menu-button{
		margin-right: 50px;
	}
}	

@media screen and (max-width: 480px) {
	#background{
		min-width:100%;
	}

	.wrap, #container{
		width:90%;
		margin:0 auto;
	}

	.logo-retina{
		max-width:100%;
		height:auto;
	}

	#main-menu-toggle a {
		padding-left:0px;
		padding-right:0px;
	}
	
	.toggle-menu-button{
		position: absolute;
		top: 75px;
		right: 10px;
		margin-right: 0px;
	}
	
}

@media screen and (max-width: 460px) {
	.logo-box{
		float: none;
	}
	
	.logo-box a{
		display: block;
	}
}

@media screen and (max-width: 320px) {
	#index-box .promote-box{
		width: 80% !important;
	}
	
	.post-entry-categories{
		margin-bottom: 8px;
	}
	
	.widget-post-featured-meta{
		padding-top: 6px;
	}
	
	.woocommerce ul.products li.product a.button{
		padding: 5px 15px;
	}

	.woocommerce .shop_table.cart{
		font-size: 15px !important;
		line-height: 26px !important;
	}
	
	.woocommerce .shop_table.cart input[type=submit]{
		font-size: 12px;
		padding: 10px 10px;
	}
	
	.woocommerce #review_form input[type="text"]{
		width: 280px !important;
	}
	
}